-----------------------------------
1. SITE CONFIGURATION
-----------------------------------
//url to fetch the csrf token (mostly the login page)
@homeUrl :: https://123.xx.190.xx/login/

//login url
@loginUrl :: https://123.xx.190.xx/logincheck/

//you can se the credentials here or enter when the program runs
//username for ADE portal
@usernameADE :: xxx

//password for ADE portal
@passwordADE :: 

//url used for web scraping
@ScrapUrl :: https://123.xx.190.xx/inbox_unread/

//url used to download file
@downloadUrl :: https://123.xx.190.xx/api/download/

=====================================================================


-----------------------------------
2. DOWNLOAD DETAILS
-----------------------------------
//ADE api key for file download
//can be found under 'API manage' in ADE portal
@apiKey :: <pase the api key here>

//download unread files for latest n days
@latestDays :: 15

//folder to save the downloaded file
@downloadFolder :: Downloads/

//folder to save the download log file
@downloadLogsFolder :: Reports/logs/

//name of the download log file
@downloadLogsFile :: downloads.log

=====================================================================


-----------------------------------
3. CRYPTO CONFIGURATION
-----------------------------------
//gpg home
@gpgHome :: C:\Users\xx\AppData\Roaming\gnupg

//folder path to create the output files
//@outputFolder :: Compromized IP/

=====================================================================


-----------------------------------
4. INPUT/DATA FILE CONFIGURATIONS
-----------------------------------
//Sets a delimiter to split the colunms in the input file
//leave blank for space delimiter, do not use (:: or @)
@delimiter :: ,

//to escape special charactors
@escape :: "

//column no for IP (starts from 0)
@ipCol :: 0

//Columns to select in the input/data file (starts from 0)
@columnNumbers :: 0,1,2

//file to check the redundent ip
//this will contain previously reported ip's

//log previously reported ip
@redundentIp :: Reports/logs/reportedIp.txt

//no of weeks to keep old reported ip details
@redundencyPeriod :: 2

=====================================================================


-----------------------------------
5. WRITE FILE CONFIGURATIONS
-----------------------------------
//Files will be created as "ISPNAME.xlsx" in the i.e. Dialog.xlsx
//Headings for the columns in the excel file
@colunmHeadings :: IP,URL Path,Date & Time

//folder path to create the output files
@outputFolder :: Compromized IP/

=====================================================================


-----------------------------------
6. ISP CONFIGURATIONS DETAIL
-----------------------------------
//ISP contact details are saved in the below file path
@ispFile :: ISP/ispContact.xlsx

//sheet name to be selected in the above excel file
//retrieve ISP ip details
@ispIp :: ip4

//retrieve ISP contact details
@ispContact :: contact

// use the same format when entering data to the ispContact
// samples are already given
//if mutiple email addresses are given; all the emails will be CC'd execpt the first one

=====================================================================


-----------------------------------
5. EMAIL CONFIGURATIONS
-----------------------------------
//enter the email address that you want to send the files from
@username :: alerts@cert.xx.xx
//password of the email
@password :: 
//email address(es) to copy (CC) 
//if multiple addresses are there separate with a comma ',' info@cert.xx.xx,copy@cert.xx.xx
@cc :: 
// addresses to bcc (include the sending email address to get a copy to your inbox)
//@bcc :: bcc@cert.xx.xx
@bcc :: alerts@cert.xx.xx
//mail server ip
@mailServer :: 192.168.x.x
@port :: 25
//subject of the mail
@subject :: Compromized IP
//email body file
@emailBody :: emailBody.txt

=====================================================================


-----------------------------------
6. Report Generation
-----------------------------------
//reports will be generated in the below folder
@reportFolder :: Reports/
//file name for report generation
@reportFile :: ADEReport.xlsx