-----------------------------------
1. INPUT/DATA FILE CONFIGURATIONS
-----------------------------------
//Sets a delimiter to split the colunms in the input file
//leave blank for space delimiter, do not use (:: or @)
@delimiter :: ,

//to escape special charactors
@escape :: "

//column no for IP (starts from 0)
@ipCol :: 0

//Columns to select in the input/data file (starts from 0)
@columnNumbers :: 0,1,2

//file to check the redundent ip
//this will contain previously reported ip's

//log previously reported ip
@redundentIp :: Reports/logs/reportedIp.txt

//no of weeks to keep old reported ip details
@redundencyPeriod :: 2

//log type
@dataType :: conficker

=====================================================================


-----------------------------------
2. WRITE FILE CONFIGURATIONS
-----------------------------------
//Files will be created as "ISPNAME.xlsx" in the i.e. Dialog.xlsx
//Headings for the columns in the excel file
@colunmHeadings :: IP,URL Path,Date & Time

//folder path to create the output files
@outputFolder :: Compromized IP/

=====================================================================
